.bg {
    -fx-background-image: url("../assets/img/login/bg.png");
}
.form-field {
    -fx-font-family: 'Montserrat';
    -fx-font-size: 13px;
    -fx-prompt-text-fill: #80838e;
    -fx-text-fill: #80838e;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-pref-width: 290px;
    -fx-pref-height: 39px;
    -fx-effect: dropshadow(three-pass-box,  rgba(41, 41, 41, 0.09), 24, 0, 4, 9);
}
.login {
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 700;
    -fx-font-size: 14px;
    -fx-background-color: #ff8a00;
    -fx-background-radius: 0;
    -fx-border-width: 0 0 4 0;
    -fx-border-color: #d27200;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-pref-width: 290px;
    -fx-pref-height: 31px;
    -fx-effect: dropshadow(three-pass-box,  rgba(41, 41, 41, 0.09), 24, 0, 4, 9);
    -fx-background-insets: 0;
}
.gatari , .craft {
    -fx-font-family: 'Montserrat Black';
    -fx-font-size: 30px;
}
.gatari {
    -fx-text-fill: #272d40;
}
.craft {
    -fx-text-fill: #ff8a00;
}
.already {
    -fx-font-family: 'Montserrat';
    -fx-font-size: 13px;
    -fx-text-fill: #505564;
}
.reg {
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 700;
    -fx-font-size: 13px;
    -fx-text-fill: #505564;
}
.version {
    -fx-font-family: 'Montserrat';
    -fx-font-size: 12px;
    -fx-text-fill: #272d40;
}
.error {
    -fx-font-family: "Montserrat";
    -fx-font-size: 13px;
    -fx-font-weight: 700;
    -fx-text-fill: red;
}