@font-face {
    src: url('../assets/font/Montserrat-Regular.ttf');
}
@font-face {
    src: url('../assets/font/Montserrat-Bold.ttf');
}
@font-face {
    src: url('../assets/font/Montserrat-Black.ttf');
}
.border {
    -fx-background-color: white;
}
.close {
    -fx-background-color: none;
    -fx-background-image: url("../assets/img/border/cancel.png");
    -fx-background-size: 17px;
    -fx-pref-width: 17px;
    -fx-pref-height: 17px;
    -fx-padding: 0;
    -fx-cursor: hand;
}
.minimize {
    -fx-background-color: none;
    -fx-background-image: url("../assets/img/border/minimize.png");
    -fx-background-size: 15px 19px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
    -fx-pref-width: 23px;
    -fx-pref-height: 17px;
    -fx-padding: 2;
    -fx-cursor: hand;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #ff8a00;
}