.bg {
    -fx-background-image: url("../assets/img/menu/bg.png");
}
.bg2 {
    -fx-background-image: url("../assets/img/menu/bg2.png");
}
.settings, .select-server {
    -fx-background-color: #393c46;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-font-family: 'Montserrat';
    -fx-font-size: 14px;
    -fx-pref-width: 230px;
    -fx-pref-height: 37px;
    -fx-border-width: 0 0 4px 0;
    -fx-background-insets: 0;
    -fx-border-color: #2a2c33;
    -fx-padding: 0 0 0 10px;
}
.play {
    -fx-background-color: #e87e00;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-font-family: 'Montserrat Black';
    -fx-font-size: 24px;
    -fx-pref-width: 178px;
    -fx-pref-height: 69px;
    -fx-border-width: 0 0 6px 0;
    -fx-background-insets: 0;
    -fx-border-color: #a25720;
    -fx-cursor: hand;
}
.additional {
    -fx-background-color: #e87e00;
    -fx-border-width: 0 0 4px 0;
    -fx-border-color: #a25720;
    -fx-background-insets: 0;
}
.menu-button {
    -fx-background-color: none;
    -fx-pref-width: 236px;
    -fx-pref-height: 37px;
    -fx-cursor: hand;
}
.gatari , .craft {
    -fx-font-family: 'Montserrat Black';
    -fx-font-size: 30px;
}
.gatari {
    -fx-text-fill: #272d40;
}
.craft {
    -fx-text-fill: #ff8a00;
}
.version {
    -fx-font-family: 'Montserrat';
    -fx-font-size: 9px;
    -fx-text-fill: #272d40;
}
.wall {
    -fx-background-color: black;
    -fx-opacity: 0.76;
}
.sett-label {
    -fx-font-family: "Montserrat Black";
    -fx-font-size: 29px;
    -fx-text-fill: white;
}
.settings-w {
    -fx-background-color: white;
    -fx-background-image: url("../assets/img/menu/bg.png");
}
.save, .cancel {
    -fx-pref-width: 213px;
    -fx-pref-height: 38px;
    -fx-background-radius: 38px;
    -fx-font-family: Montserrat;
    -fx-font-size: 16px;
    -fx-background-insets: 0;
    -fx-cursor: hand;
}
.save {
    -fx-background-color: #e57c00;
    -fx-text-fill: white;
}
.cancel {
    -fx-background-color: white;
    -fx-text-fill: #272d40;
}
.settings-font {
    -fx-font-family: "Montserrat Black";
    -fx-font-size: 21px;
    -fx-text-fill: #272d40;
}
.char {
    -fx-background-color: #272d40;
    -fx-effect: dropshadow(three-pass-box,  rgba(41, 41, 41, 0.09), 24, 0, 4, 9);
}
.char-nichname {
    -fx-font-family: "Montserrat Black";
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box,  rgba(41, 41, 41, 0.09), 24, 0, 4, 9);
}
.gradient {
    -fx-background-color: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}
.gradient2 {
    -fx-opacity: 0.40;
    -fx-background-color: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
.gradient3 {
    -fx-opacity: 0.70;
    -fx-background-color: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
.block {
    -fx-background-color: black;
    -fx-opacity: 0.84;
}
.blocked {
    -fx-font-family: "Montserrat Black";
    -fx-font-size: 17px;
    -fx-text-fill: white;
}
.ram-slider {
    -fx-pref-width: 448px;
}
.ram-slider .track {
    -fx-background-radius: 0px;
    -fx-pref-height: 30px;
    -fx-background-color: none;
}
.ram-slider .colored-track {
    -fx-background-radius: 30px 0 0 30px;
    -fx-background-color: #272d40;
}
.ram-slider .thumb {
    -fx-background-radius: 30px;
    -fx-effect: none;
    -fx-background-color: #272d40;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
}
.ram-slider .animated-thumb {
    visibility: hidden;
}
.fake {
    -fx-background-color: #272d40;
    -fx-background-radius: 30px;
}
.fake-t {
    -fx-background-color: #e57c00;
    -fx-background-radius: 30px;
}
.ram {
    -fx-font-family: "Montserrat";
    -fx-font-weight: 700;
    -fx-font-size: 11px;
    -fx-text-fill: white;
    -fx-opacity: 1;
}
.overlay-toggle {
    -fx-font-family: "Montserrat Black";
    -fx-font-size: 21px;
    -fx-text-fill: #272d40;
}
.title {
    -fx-font-family: "Montserrat Black";
    -fx-font-size: 27px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box,  rgba(41, 41, 41, 0.09), 24, 0, 4, 9);
}
.sub-title {
    -fx-font-family: "Montserrat";
    -fx-font-size: 10px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box,  rgba(41, 41, 41, 0.09), 24, 0, 4, 9);
}
.title2 {
    -fx-font-family: "Montserrat Black";
    -fx-font-size: 42px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box,  rgba(41, 41, 41, 0.09), 24, 0, 4, 9);
}
.sub-title2 {
    -fx-font-family: "Montserrat";
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box,  rgba(41, 41, 41, 0.09), 24, 0, 4, 9);
}
.date {
    -fx-font-family: "Montserrat";
    -fx-font-size: 12px;
    -fx-font-weight: 700;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box,  rgba(41, 41, 41, 0.09), 24, 0, 4, 9);
}
.online {
    -fx-background-color: #cfff4e;
    -fx-background-radius: 7px;
}
.selected-server {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-pref-width: 156px;
    -fx-pref-height: 50px;
    -fx-text-fill: #393939;
    -fx-font-family: Montserrat;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}
.close-server {
    -fx-background-color: none;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-font-family: Montserrat;
    -fx-font-size: 9px;
    -fx-effect: dropshadow(three-pass-box,  rgba(41, 41, 41, 0.09), 24, 0, 4, 9);
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.left {
    -fx-background-color: none;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-image: url("../assets/img/menu/left.png");
    -fx-background-size: 27px;
    -fx-pref-width: 27px;
    -fx-pref-height: 27px;
    -fx-cursor: hand;
}
.right {
    -fx-background-color: none;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-image: url("../assets/img/menu/right.png");
    -fx-background-size: 27px;
    -fx-pref-width: 27px;
    -fx-pref-height: 27px;
    -fx-cursor: hand;
}
.version2 {
    -fx-font-family: 'Montserrat';
    -fx-font-size: 12px;
    -fx-text-fill: #272d40;
}
.progress .bar {
    -fx-background-color: #ff8a00;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
.progress .track {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
.progress {
    -fx-pref-width: 320px;
    -fx-pref-height: 30px;
    -fx-border-width: 0 0 0 6px;
    -fx-border-color: #d27200;
    -fx-effect: dropshadow(three-pass-box,  rgba(41, 41, 41, 0.09), 24, 0, 4, 9);
}
.loading {
    -fx-font-family: Montserrat;
    -fx-font-size: 12px;
    -fx-text-fill: #272d40;
}
.load-progress {
    -fx-font-family: Montserrat;
    -fx-font-size: 10px;
    -fx-text-fill: #4a3112;
    -fx-opacity: 0.5;
}
.error {
    -fx-font-family: "Montserrat";
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-text-fill: red;
}